@inject NavigationManager Navigation
@inject HttpClient _client
@using System.Text.Json;
@using System.Text.Json.Serialization;
@inject IToastService toastService

<div class="container py-5">
    <EditForm Model="@Product" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <label>
            Name
            <InputText @bind-Value="Product.Name" />
        </label>
        <label>
            Description
            <InputTextArea @bind-Value="Product.Description" />
        </label>
        <label>
            Price
            <InputNumber @bind-Value="Product.Price" />
        </label>
        <label>
            SKU
            <InputText @bind-Value="Product.SKU" />
        </label>
        <button type="submit" class="btn btn-primary">Create</button>
    </EditForm>
</div>

@code {
    public Product Product { get; set; } = new Product();

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task Close() => await BlazoredModal.CloseAsync(ModalResult.Ok());

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
    private async Task HandleSubmit()
    {
        //var jsonStr = JsonSerializer.Serialize<ProductDTO>(new List<Product> { Product }.ToDTOs().FirstOrDefault());
        //Console.WriteLine(jsonStr);
        var response = await _client.PostAsJsonAsync("product", new List<Product> { Product }.ToDTOs().FirstOrDefault());
        var content = await response.Content.ReadAsStringAsync();
        if (!response.IsSuccessStatusCode)
        {
            toastService.ShowError("Error on creation");
            throw new ApplicationException(content);
        }
        toastService.ShowSuccess("Product successfully created!");
        await Close();
    }
}
